body {
  height: 100vh;
  position: relative;
}

h1 {
  margin: 1rem 0 2rem;
}

p {
  margin: 1rem;

  &#processing {
    color: red;
  }
}

dt {
  font-weight: bold;
  margin: 1rem;
}

dd {
  margin: 1rem;
}

footer {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: 100%;
}

a {
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 0.125rem;
  text-decoration: none;
}
