:root {
  --fg-colour: black;
  --accent-colour: orange;
  --d: 1rem;
}

body {
  height: 100vh;
  padding: calc(var(--d) * 2);
}

h2 {
  font-size: 1.1rem;
  margin: calc(var(--d) * 2) 0 var(--d);

  &#requests-by-group {
    margin-bottom: 0;
  }
}

h3 {
  padding-bottom: calc(var(--d) * 0.25);
  border-bottom: 1px solid var(--fg-colour);
  display: inline-block;
  font-weight: 600;
}

button {
  padding: var(--d);
  border-radius: 4px;
  font-size: 1.1rem;

  &#notification {
    color: var(--fg-colour);
    background-color: var(--accent-colour);
  }
}

dt {
  font-weight: bold;
}

section dt::before {
  content: 'url: ';
  font-weight: bold;
}

dd {
  margin: var(--d) 0;
}

section {
  dd {
    &::before {
      content: 'bytes: ';
      font-weight: bold;
    }
  }
}

footer {
  padding: calc(var(--d) * 2) 0;
}

a {
  color: var(--fg-colour);
  border-bottom: 1px solid var(--fg-colour);
  padding-bottom: calc(var(--d) * 0.25);
  text-decoration: none;
}

.hidden {
  display: none;
}
