:root {
  --bg-colour: white;
  --fg-colour: black;
  --line-colour: lightgrey;
  --accent-colour: orange;
  --up: red;
  --down: green;
  --d: 0.25rem;
}

body {
  padding: calc(var(--d) * 4) calc(var(--d) * 4) 0;
  position: relative;
}

main {
  padding-top: calc(var(--d) * 6);
  padding-bottom: calc(var(--d) * 16);
}

aside {
  margin-top: calc(var(--d) * -8);
  margin-bottom: calc(var(--d) * -16);
}

h1 {
  margin-top: 0;
  font-size: 1.1rem;
}

h2 {
  font-size: 1.1rem;
  margin: calc(var(--d) * 8) 0 calc(var(--d) * 4);

  &#requests-by-group {
    margin-bottom: 0;
  }
}

h3 {
  padding-bottom: var(--d);
  border-bottom: 1px solid var(--fg-colour);
  display: inline-block;
  font-weight: 600;
}

button {
  line-height: 1.4;
  padding: calc(var(--d) * 2);
  margin-right: calc(var(--d) * 2);
  border: 1px solid var(--line-colour);
  border-radius: 4px;
  text-wrap: balance;

  &#notification {
    color: var(--fg-colour);
    background-color: var(--accent-colour);
  }
}

button:hover {
  border-color: var(--fg-colour);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 2px var(--fg-colour);
  outline: none;
}

a {
  color: var(--fg-colour);
  text-decoration: underline;
  text-underline-offset: var(--d);
}

dt:not(details *) {
  font-weight: bold;
}

dd {
  margin: calc(var(--d) * 4) 0;
}

section {
  dt::before {
    content: 'url: ';
    font-weight: bold;
  }

  dd {
    & div:first-child::before {
      content: 'kBs: ';
      font-weight: bold;
    }

    & div:last-child::before {
      content: 'uncompressed kBs: ';
      font-weight: bold;
    }
  }
}

dl {
  border-bottom: 1px solid var(--line-colour);
}

section:last-of-type dl {
  border-bottom: none;
}

ul {
  margin-block: 0;
  padding: 0 calc(var(--d) * 4);
}

li {
  list-style-type: square;
  line-height: 1.6;
}

header,
footer {
  position: fixed;
  width: 100%;
  height: calc(var(--d) * 16);
  background-color: var(--bg-colour);
  display: flex;
}

header {
  top: 0;
  flex-direction: column;
  justify-content: center;
}

footer {
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.hidden {
  display: none;
}

.notification {
  display: none;
}

.up::after {
  content: '\25B2';
  padding-left: 5px;
  padding-left: var(--d);
  color: var(--up);
}

.down::after {
  content: '\25BC';
  padding-left: var(--d);
  color: var(--down);
}
